        body {
            background-color: antiquewhite;
        }
        
        .container-login {
            margin: auto;
            margin-top: 150px;
            padding: 50px;
            width: 220px;
            background-color: royalblue;
        }
        
        input {
            padding: 10px 35px 10px 10px;
            margin: 5px 90px 15px 5px;
            border-radius: 5px;
            border-color: silver;
        }
        
        button {
            border-radius: 8px;
            padding: 5px 5px 5px 5px;
            margin: 0px 0px 5px 5px;
            color: royalblue;
            background-color: white;
            border: none;
        }
        
        button:hover {
            background-color: green;
            color: white;
        }
        
        legend {
            color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            padding: 15px 20px 5px 30px;
        }